* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #ff0202;
  --text-color: black;
  --main-color: #ff0000;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: white;
  color: var(--text-color);
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  background-color: black;
  z-index: 100;
}

.header span {
  position: fixed;
  left: 150px;
  top: 80px;
  font-size: 2rem;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.logo img {
  width: 100px;
  height: auto;
  border-radius: 3%;
  outline: none;
  border: none;
}

#menu-icon {
  position: fixed;
  font-size: 3.5rem;
  cursor: pointer;
  color: var(--main-color);
  right: 50px;
  top: 80px;
  transition: ease-in-out 0.3s;
}
#menu-icon:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.3s;
}
.navbar {
  position: absolute;
  top: 100%;
  right: 0;
  width: 20%;
  padding: 1rem 3rem;
  background: black;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  border-bottom-left-radius: 2rem;
  display: none;
}
.navbar a {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
  color: white;
}
.navbar a:hover{
  border-bottom: 2px solid red;
}
.navbar.active {
  display: block;
}
section {
  min-height: 100vh;
  padding: 15rem;
}
.home-content {
  width: 100%;
  padding-top: 15rem;
  padding-left: 5rem;
}
.home-content h2 {
  width: 50%;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  border-bottom: 3px solid red;
  display: flex;
  flex-direction: column;
}
.home-content p {
  width: 50%;
  padding-top: 5px;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.btn-group {
  width: 50%;
  display: grid;
  padding: 0 15rem 0;
  display: flex;
  flex-direction: column;
}
.btn {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  padding: 1rem 10rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: 2px solid red;
  border-radius: 3rem 3rem;
}
.btn:hover {
  background: red;
}
.order-button {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 2px;
  background-color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: 2px solid red;
  border-radius: 3rem 3rem;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  text-wrap: nowrap;
  margin-bottom: 1rem;
}
.order-button:hover {
  color: red;
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
  transform: scale(1.05);
}
.social-icons {
  width: 50%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.social-icons .icon {
  font-size: 5rem;
  background: red;
  padding: 0.5rem 0.5rem 0;
  border: 2px solid black;
  border-radius: 50%;
  color: white;
  transition: ease-in-out 0.3s;
}
.social-icons .icon:hover {
  transform: scale(1.05);  
  transition: ease-in-out 0.3s;
  background: black;
  border: 2px solid red;
}

.slider {
  width: 40%;
  padding: 5rem;
  background: black;
  margin: -500px 900px;
  position: relative;
  overflow: hidden;
  border: 4px red solid;
  border-radius: 10%;
  z-index: 1;
}
.slides img {
  display: none;
  width: 100%;
  height: 500px;
  border: 1px solid white;
  border-radius: 5%;
}
img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.info {
  display: flex;
}
.info-content {
  padding-top: 10rem;
  padding-left: 5rem;
  background: rgb(5, 5, 5);
  margin-bottom: 0.2rem;
}
.info-content h3 {
  width: 95%;
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: 500;
  border-bottom: 10px solid red;
}
.info-content p {
  width: 95%;
  padding: 10px 15px;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-wrap: balance;
  color: black;
  background: gray;
}
.info-content img {
  max-height: 200px;
  margin-left: 350px;
  padding-top: 15px;
}
.info-content h4 {
  width: 95%;
  text-align: center;
  padding-top: 40px;
  color: white;
  font-size: 5rem;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 10px solid red;
}
.info-img {
  border: 5px solid red;
}
.info-img img {
  display: block;
}

.services {
  display: flex;
}
.services-content {
  width: 100%;
  padding: 5rem 5rem;
  padding-bottom: 5rem;
  background: rgb(5, 5, 5);
  margin-bottom: 0.2rem;
}
.services-content h3 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: 500;
  border-bottom: 10px solid red;
}
.services-content p {
  width: 100%;
  padding: 10px 15px;
  color: white;
  font-size: 4rem;
  text-align: center;
  text-wrap: balance;
  color: black;
  background: gray;
}
.order-content {
  display: flex;
  padding: 0 15rem 0;
  margin-top: 15px;
}
.book-btn {
  text-align: center;
  font-size: 6rem;
  padding: 1rem 10rem;
  margin-top: 100px;
  margin-left: 60px;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: 2px solid red;
  border-radius: 3rem 3rem;
}
.book-btn:hover {
  background: red;
}
.services-img img {
  height: 650px;
  border: 5px solid red;
}

.menu {
  text-align: center;
  justify-content: center;
}
.menu h1{
  font-size: 10rem;
  padding-bottom: 1rem;
  letter-spacing: 2px;
  background: linear-gradient(340deg, #000000 50%, #ff0000 40% );
  background-clip: text;
  color: transparent;
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.menu-card h2 {
  font-size: 7rem;
  padding-bottom: 1rem;
  letter-spacing: 2px;
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  border-bottom: 2px solid black;
}
.menu-card button {
  font-size: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu-navbar {
  position: absolute;
  top: 50%;
  display: block;
}
.menu-navbar a {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
  color: white;
}
.menu-navbar a:hover{
  border-bottom: 2px solid red;
}
.menu-navbar.active {
  display: block;
}
.menu-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.menu-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px 25px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}
.menu-item {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  border-bottom: 2px solid black;
}
.menu-item img {
  height: 400px;
  width: 30%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 2px solid black;
}
.menu-content img:hover {
  transform: scale(1.1);
}

.menu-item h3 {
  width: 20%;
  text-align: center;
  margin-bottom: 300px;
  font-size: 4rem;
  color: red;  
  padding-bottom: 5rem;
}
.menu-item p {
  margin-bottom: 50px;
  margin-left: -270px;
  max-width: 20%;
  font-size: 2rem;
  color: black;
}
.menu-item h5 {
  margin-bottom: 300px;
  margin-left: 500px;
  font-size: 4rem;
}
.menu-btn {
  margin-left: -160px;
  font-size: 5rem;
  color: red;
  background-color: black;
  border: 2px solid red;
  letter-spacing: 1px;
  padding: 1rem 5rem;
}
